<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="bg-primary text-center p25">
        Bootstrapped!
      </h1>
      <form method="POST" action="/address">
        Lattitude:<br>
        <input type="text" name="lat"><br>
        Longitude:<br>
        <input type="text" name="lng"><br><br>
        <input type="submit" value="Submit">
      </form>
      <% @address_list.each do |item| %>
        <p><%= item %></p>
      <% end %>
    </div>
  </div>
</div>
