<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="bg-primary text-center p25">
        Bootstrapped!
      </h1>
      <a href="/addresses">Addresses</a>
    </div>
  </div>
</div>
