<div class="row align-items-center">
  <div class="col col-md-8 col-sm-8">
    <div class="jumbotron mh-100">
      <h1 class="display-4 text-center">Geocoded!</h1>
      <hr class="my-4">
      <p class="display-4 text-center">A web page displaying the ability to perform location based computations using Ruby!</p>
    </div>
    <!-- w/ bg-primary text-center p25 -->
  </div>
  <div class="col-5 col-md-4 col-sm-4">
    <img class="center-block" src="http://www.texample.net/media/tikz/examples/PNG/spherical-and-cartesian-grids.png" alt="World with mat coordinate grid" width="310" height="310">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-2 col-md-2">hey column</div>
    <div class="col-4 col-md-4">
      <!-- <form method="POST" action="/address">
        Lattitude:<br>
        <input type="text" name="lat"><br>
        Longitude:<br>
        <input type="text" name="lng"><br><br>
        <input type="submit" value="Submit">
      </form> -->
      <% @coordinate_list.each do |item| %>
          <h4 class="rounded bg-primary text-center p25">
            <%= item %>
          </h4>
      <% end %>
    </div>
    <div class="col-2 col-md-2 bg-secondary"> hey column </div>
  </div>
</div>
